.recievers{
    background-color:rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reciever_popup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 32px;
    background-color: white;
    width: 100%;
    height: 100%;
}

.close_pop{
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid black; */
    width: 100%;
}
.receiver_list{
    /* border: 2px solid black; */
    /* width: 100%; */
}

table{
    border: 2px solid black;
}
#bankkUsers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size: 24px;
    /* width: 100%; */
}
#bankUsers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #385078;
    color: white;
    width: 172px;
    /* font-size: 24px; */
}
#bankUsers td, #bankUsers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 20px;
}
#bankUsers tr:nth-child(even){background-color: #f2f2f2;}

#bankUsers tr:hover {background-color: #ddd;}

#bankUsers button{
    color: rgb(248, 248, 248);
    background-color: green;
    padding: 1vh;
    border: none;
    border-radius: 5px;
}

#bankUsers button:hover{
    padding-left: 4vh;
    padding-right: 4vh;
}

.close_popup{
    width: 98px;
    border-radius: 8px;
    border: none;
    height: 35px;
    font-weight: 600;
    color: white;
}
#backButton{
    background-color: #e72525;
}