.sendMoney_card{
    background-color:rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sendMoney_popup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 32px;
    background-color: white;
    width: 100%;
    max-width: 600px;
    border-radius: 30px;
}
.cross_money{
    padding: 3vh;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    /* border: 2px solid black; */
    width: 100%;
    height: 1vh;
}
.sendMoney_text{
    padding: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    width: 100%;
}
.sendmoney_input{
    padding: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    width: 100%;
}


.cross_money button{
    width: 37px;
    border-radius: 25px;
    border: none;
    height: 35px;
    font-weight: 600;
    color: white;
}
#back_transfer{
    background-color: #e72525;
}

.sendmoney_input button{
    width: 98px;
    border-radius: 8px;
    border: none;
    height: 35px;
    font-weight: 600;
    color: white;
}
#transfer_btt{
    background-color: green;
}

.sendmoney_input input{
    display: flex;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    width: 250px;
    height: 30px;
    margin-right: 2vw;
    border-radius: 10px;
}

@media (max-width: 768px) {
  .sendMoney_popup{
      width: 72%;
      border-radius: 20px;
  }
  .sendMoney_text{
      text-align: center;
  }
  .sendmoney_input input{
      width: 220px;
      font-size:15px ;
  }
  .sendmoney_input button{
      font-size: 11px;
      border-radius: 5px;
  }

}